$font_size_main: 16px;
$font_color_main: #565656;
$font_color_title: #000;
$font_color_grey: #7B7B7B;

$background_main: linear-gradient(#ffffff,#fa3333);
$width_content: 1320px;
$half_width_content: calc($width_content / 2);